
<article id="random-view"
  ng-intro-method="startIntro"
  ng-intro-options="viewUtils.introOptions"
  >

  <section class="bs-header" id="content-header-page">

    <div class="container">

      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="randomic-logo"></div>
        </div>
      </div>


      <!-- Add Form -->
      <div class="row" name="add-form">
        <div class="col-md-12">
          <tags-input
            id="items-input"
            ng-model="items"
            placeholder="Add new item"
            replace-spaces-with-dashes="false"
            enable-editing-last-tag="true"

            on-tag-added="saveInfoInStorage()"
            on-tag-removed="saveInfoInStorage()"

          ></tags-input>
        </div>
      </div>



      <!-- Action Form -->
      <form class="row" name="random-form">


        <div class="margin-top-default"
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }">
          <button class="form-control btn btn-default  animated fadeIn" ng-show="items.length > 0"
            ng-click="getRandomItems()"
            ng-disabled="items.length === 0 || !randomForm.numberOfItems || randomForm.numberOfItems < 1" >
            Give me <span ng-bind="randomForm.numberOfItems"></span>
          </button>
        </div>

        <div class="margin-top-default"
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }">
          <button class="btn btn-primary form-control animated fadeIn"
            ng-show="items.length > 0"
            ng-disabled="items.length === 0 || !randomForm.numberOfItems || randomForm.numberOfItems < 1"
            ng-click="getAllGroupedByNItems()">
            Give me all grouped by <span ng-bind="randomForm.numberOfItems"></span>
            <span ng-show="randomForm.numberOfItems === 1">item</span> <span ng-show="randomForm.numberOfItems > 1">items</span>
          </button>
        </div>

        <div class="margin-top-default"
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }"
            ng-show="randomItems.length > 0">
          <button class="btn btn-danger form-control animated bounceIn"
            ng-click="resetRandomItems()"
            ng-disabled="randomItems.length === 0">
            Reset
          </button>
        </div>

        <!-- Advanced options -->
        <div class="row" ng-show="items.length > 0" >
          <div class="col-md-12 col-sm-12 text-center margin-top-default advanced-options-trigger-wrapper">
              <span
                ng-click="viewUtils.showAdvancedOptions = !viewUtils.showAdvancedOptions"
                class="glyphicon animated fadeInDown advanced-options-trigger glyphicon glyphicon-cog"
              ></span>
          </div>

          <div class="row" ng-show="viewUtils.showAdvancedOptions">
            <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-4" >
              <label>
                <input type="checkbox" ng-model="randomForm.allowDuplicateItem"> allow duplicate item
              </label>
            </div>

            <div class="col-md-2 col-sm-2">
              <label >number of items</label>
              <input type="number" ng-model="randomForm.numberOfItems" name="numberOfItems" class="form-control" min="1">
            </div>

            <div class="col-md-2 col-sm-2">
              <label >
                <input type="checkbox" ng-model="randomForm.remember" name="remember">
                Use local storage
              </label>
            </div>

          </div>
        </div>
      </form>


    </div>

  </section>



  <!-- Results Section -->
  <section class="container">


    <!-- Feedback message -->
    <div class="row">
      <div class="col-md-12">
        <p ng-show="items.length === 0 && randomItems.length === 0"
          class="empty-message animated flipInX">
          Add items to your list
        </p>

        <p ng-show="items.length > 0 && randomItems.length === 0"
          class="empty-message animated flipInX">
          Give me some random items :)
        </p>

        <p ng-show="randomItems.length > 0"
          class="empty-message animated flipInX">
          Random Items
        </p>
      </div>
    </div>

    <!-- Filter -->
    <div class="row margin-top-default animated fadeInDown" ng-show="randomItems.length > 1">
      <div class="col-md-12">
        <input id="randomItemsFilter" type="text" ng-model="randomItemsFilter" class="form-control" placeholder="Filter">
      </div>
    </div>

    <!-- Result Items -->
    <div class="row">
      <div class="col-md-12">

        <ul class="list-unstyled margin-top-default">

          <li ng-repeat="randomItem in randomItems | filter:randomItemsFilter track by $index" >

            <div class="panel panel-default animated fadeInDown">
              <div class="panel-body">
                <span ng-bind="$index + 1"></span>. <strong ng-bind="randomItem.text"></strong>
              </div>
            </div>

          </li>

        </ul>

      </div>
    </div>



  </section>
</article>