
// =============================================
// Guideline Colors
// =============================================

$errorBgColor            : #fde3e3;
$errorTextColor          : #cc3333;
$errorBorderColor        : #ffcccc;
$errorPlaceholderColor   : lighten(#cc3333, 15%);

// Alert Colors
// ===========================
$dangerColor  : #9e0b0f;
$infoColor    : #049cdb;
$warningColor : #f89406;
$successColor : #2ecc71;

// Button Colors
// ===========================
$primaryColor    : rgba(255,218,0,.8);
$secondaryColor  : #1f4c39;
$activeTextColor : #333333;
$blueColor       : rgb(2, 134, 214);