
// =============================================
// Global
// =============================================
html, body, #app-container, .app-view, .screen-content{
  height    : 100%;
  overflow  : auto;
  scrollbar-track-color: #FFFFFF;
}

body{
  background: $primaryColor;
}


.screen-content{
  max-width    : $applicationContentWidth;
  margin-left  : auto;
  margin-right : auto;
  position     : relative;
  padding-top  : $mainBarHeight;
}

.sg-app-view{
  width: 100%;
}

.text-white {
  color : #FFFFFF;
}

