/* line 3, ../../sass/index-seach/index-search.sass */
#index-search-view #app-title {
  font-family: "Poiret One", cursive;
  color: black;
}
/* line 8, ../../sass/index-seach/index-search.sass */
#index-search-view #background-title {
  position: fixed;
  top: 0;
  left: 50%;
  width: 300px;
  height: 300%;
  margin: -150px;
  opacity: 0.6;
}
/* line 19, ../../sass/index-seach/index-search.sass */
#index-search-view #content-header-page {
  background: white;
  width: 100%;
  padding: 35px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
/* line 30, ../../sass/index-seach/index-search.sass */
#index-search-view #content-header-page #logo-container {
  text-align: center;
}
/* line 35, ../../sass/index-seach/index-search.sass */
#index-search-view #content-header-page .search-group-button {
  box-shadow: 0 0 1px 0px black;
}
/* line 40, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item {
  position: relative;
  font-size: 12px;
  padding: 15px;
  margin: 15px 0;
  min-height: 30px;
  background: url("../img/squad-bg.png") repeat, white;
  -webkit-box-shadow: 0 0 1px 0 black;
  -moz-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black;
}
/* line 52, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-tag {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  border: 4px solid white;
  outline: 0;
  padding: 0;
}
@media screen and (max-width: 240px) {
  /* line 52, ../../sass/index-seach/index-search.sass */
  #index-search-view .result-item .status-tag {
    width: 30px;
    font-size: 11px;
  }
}
/* line 67, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .train-line-name-container {
  font-family: "Poiret One", cursive, arial;
  text-align: left;
  font-size: 16px;
  font-family: "Poiret One", cursive;
}
@media screen and (max-width: 320px) {
  /* line 67, ../../sass/index-seach/index-search.sass */
  #index-search-view .result-item .train-line-name-container {
    text-align: center;
    font-size: 18px;
  }
}
@media screen and (min-width: 321px) and (max-width: 992px) {
  /* line 67, ../../sass/index-seach/index-search.sass */
  #index-search-view .result-item .train-line-name-container {
    text-align: center;
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 67, ../../sass/index-seach/index-search.sass */
  #index-search-view .result-item .train-line-name-container {
    font-size: 27px;
  }
}
/* line 85, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-tag.status-available {
  background-color: #54d98c;
}
/* line 88, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-tag.status-slow {
  background-color: #faa937;
}
/* line 91, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-tag.status-unavailable {
  background-color: #ff3333;
}
/* line 94, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-available {
  color: #2ecc71;
}
/* line 97, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-slow {
  color: #f89406;
}
/* line 100, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .status-unavailable {
  color: red;
}
/* line 103, ../../sass/index-seach/index-search.sass */
#index-search-view .result-item .retweet-icon {
  font-size: 1em;
  margin-left: -12%;
  margin-top: -12%;
  color: black;
  opacity: 0.5;
}
@media screen and (max-width: 240px) {
  /* line 103, ../../sass/index-seach/index-search.sass */
  #index-search-view .result-item .retweet-icon {
    font-size: 11px;
    margin-left: -21%;
    margin-top: -21%;
  }
}
/* line 115, ../../sass/index-seach/index-search.sass */
#index-search-view .terms-message-footer {
  background: url("../img/squad-bg.png") repeat, #59c4bc;
  padding: 40px;
  -webkit-box-shadow: 0 0 1px 0 black;
  -moz-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black;
  position: relative;
  text-align: center;
}
