
<article id="random-view">

  <section class="bs-header" id="content-header-page">

    <div class="container">
    
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="randomic-logo"></div>
        </div>
      </div>
      
     
      <!-- Add Form -->
      <div class="row" name="add-form">
        <div class="col-md-12">
          <tags-input ng-model="items" placeholder="Add new item" replace-spaces-with-dashes="false" enableEditingLastTag="true"></tags-input>
        </div>
      </div>

    

      <!-- Action Form -->
      <form class="row" name="random-form">
        

        <div class="margin-top-default" 
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }">
          <button class="btn btn-default form-control animated fadeInLeft" ng-show="items.length > 0"
            ng-click="getRandomItems()"
            ng-disabled="items.length === 0" >
            Give me <span ng-bind="randomForm.numberOfItems"></span>
          </button>
        </div>

        <div class="margin-top-default" 
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }">
          <button class="btn btn-primary form-control animated fadeInRight" ng-show="items.length > 0"
            ng-disabled="items.length === 0">
            Give me all grouped by <span ng-bind="randomForm.numberOfItems"></span>
            <span ng-show="randomForm.numberOfItems === 1">item</span> <span ng-show="randomForm.numberOfItems > 1">items</span>
          </button> 
        </div>

        <div class="margin-top-default" 
          ng-class="{
            'col-md-6' : randomItems.length == 0,
            'col-sm-6' : randomItems.length == 0,
            'col-md-4' : randomItems.length > 0,
            'col-sm-4' : randomItems.length > 0,
            }"
            ng-show="randomItems.length > 0">
          <button class="btn btn-danger form-control animated bounceIn" 
            ng-click="resetRandomItems()"
            ng-disabled="randomItems.length === 0">
            Reset
          </button> 
        </div>
        
        <!-- Advanced options -->
        <div class="row hide">
          <div class="col-md-2">
            <label>
              <input type="checkbox" ng-model="randomForm.allowDuplicateItem"> allow duplicate item
            </label>
          </div>

          <div class="col-md-2">
            <label >number of items</label>
            <input type="number" ng-model="randomForm.numberOfItems" name="numberOfItems" class="form-control"> 
          </div>
        </div>
      </form>

      
    </div>

  </section>



  <!-- Results Section -->
  <section class="container">



    <!-- Loader Section -->
    <div class="row" ng-if="showLoader">
      <div class="col-md-12 col-sm-12" style="background: url('styles/img/loader.gif') center center no-repeat; height: 100px; background-size: 100px 100px;">
      </div>
    </div>
    
    <div class="row margin-top-default animated fadeInDown" ng-show="randomItems.length > 1">
      <div class="col-md-12">
        <input id="randomItemsFilter" type="text" ng-model="randomItemsFilter" class="form-control" placeholder="Filter items"> 
      </div>
    </div>
    
    <!-- Result Items -->
    <div class="row">
      <div class="col-md-12">

        <ul class="list-unstyled margin-top-default">
          
          <li ng-repeat="randomItem in randomItems | filter:randomItemsFilter track by $index" >

            <div class="panel panel-default animated fadeInDown">
              <div class="panel-body">
                <span ng-bind="$index + 1"></span>. <strong ng-bind="randomItem.text"></strong>
              </div>
            </div>
            
          </li>
          
        </ul>
        
      </div>
    </div>

   

  </section>
</article>