
<article id="random-view">

  <section class="bs-header" id="content-header-page">

    <div class="container">
    
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="randomic-logo"></div>
        </div>
      </div>
      
     
      <!-- Add Form -->
      <div class="row" name="add-form">
        <div class="col-md-12">
          <tags-input ng-model="items" placeholder="Add new item"></tags-input>
        </div>
      </div>

    

      <!-- Action Form -->
      <form class="row" name="action-form">
      </form>


      
    </div>

  </section>



  <!-- Results Section -->
  <section class="container">



    <!-- Loader Section -->
    <div class="row" ng-if="showLoader">
      <div class="col-md-12 col-sm-12" style="background: url('styles/img/loader.gif') center center no-repeat; height: 100px; background-size: 100px 100px;">
      </div>
    </div>

    
    <!-- Result Items -->
    <div class="row" ng-if="viewMode === 'matchMode'">
      <div class="col-md-12" ng-if="match.length > 0">

        <ul class="list-unstyled" ng-model="match">
          
          <li ng-repeat="item in resultItems" ng-class="{'result-item': true, animated: true, bounceIn: true}">
            <strong ng-bind="item.name"></strong>
          </li>
          
        </ul>
        
      </div>
    </div>

   

  </section>
</article>