
// =============================================
// Mixins
// =============================================


@mixin placeHolderColor($color){
  &::-webkit-input-placeholder{
    color       : $color;
    font-style  : italic;
    font-weight : 100;
  }

  // Firefox 18-
  &:-moz-placeholder{
    color       : $color;
    font-style  : italic;
    font-weight : 100;
  }

  // Firefox 19+
  &::-moz-placeholder{
    color       : $color;
    font-style  : italic;
    font-weight : 100;
  }

  &:-ms-input-placeholder{
    color       : $color;
    font-style  : italic;
    font-weight : 100;
  }
}