
.fork-me-on-github{
  position   : absolute;
  z-index    : 9999;

  &.top-right{
    position   : fixed;
    background : url('../assets/img/ForkMeOnGitHub.png') no-repeat;
    background-size: cover;
    top        : 0;
    right      : 0;
    width      : 140px;
    height     : 140px;
  }


  &.blue-circle{
    background      : url('../assets/img/github-circle.png') no-repeat;
    background-size : cover;
    top             : 110px;
    width           : 100px;
    height          : 100px;
    left            : 50%;
    margin-left     : -50px;
  }
}
