
<article id="index-search-view">

  <section class="bs-header" id="content-header-page">
    <div id="background-title"></div>

    <div class="container">
    
      <div class="row">
        <div class="col-md-12 col-sm-12" style="text-align: center;">
          <div class="randomic-logo"></div>

        </div>
      </div>
      
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 col-sm-12">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" ng-class="{btn: true, 'btn-default': true, active: viewMode === 'matchMode'}" ng-click="setViewMode('matchMode')">Partida</button>
            </div>
            <div class="btn-group">
              <button type="button" ng-class="{btn: true, 'btn-default': true, active: viewMode === 'groupMode'}" ng-click="setViewMode('groupMode')">grupos</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 col-sm-12">
          <div accordion close-others="false" style=" z-index: 10000;cursor: pointer; overflow: scroll;">

            <!-- Players -->
            <div accordion-group  ng-if="players.length > 0"> 
              <div accordion-heading>
                <h3>Players</h3>
              </div>
              <!-- Players -->
              <div >
                <ul class="list-unstyled" >
                  <li ng-repeat="player in players" ng-class="{'result-item': true, animated: true, fadeInDown: true}">
                    <div class="row">
                      <!-- Nome da trainLine -->
                      <div class="col-md-7 train-line-name-container">
                        <span ng-bind="$index + 1"></span> - <span ng-bind="player"></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Teams -->
            <div accordion-group ng-if="teams.length > 0">
              <div accordion-heading>
                <h3>Teams</h3>
              </div>
              <ul class="list-unstyled" >

                <li ng-repeat="team in teams" ng-class="{'result-item': true, animated: true, fadeInDown: true}">
                  <div class="row">
                    <!-- Nome da trainLine -->
                    <div class="col-md-7 train-line-name-container">
                      <span ng-bind="$index + 1"></span> - <span ng-bind="team"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      
    </div>

  </section>



  <!-- Results Section -->
  <section class="container">



    <!-- Loader Section -->
    <div class="row" ng-if="showLoader">
      <div class="col-md-12 col-sm-12" style="background: url('styles/img/loader.gif') center center no-repeat; height: 100px; background-size: 100px 100px;">
      </div>
    </div>

    <div class="row">
      <!-- Actions -->
      <div class="col-md-4 col-md-offset-4">
      <ul class="list-unstyled">
        <li ng-if="viewMode === 'groupMode'">
          <button class="btn btn-default btn-block" ng-click="createGroups()" ng-if="players.length > 0">Gerar Todos Grupos</button>
        </li>
        <li ng-if="viewMode === 'groupMode'">
           <button class="btn btn-default btn-block" ng-click="createGroup()" ng-if="players.length > 0">Gerar Apenas Um Grupo</button>
        </li>
        <li ng-if="viewMode === 'groupMode'">
           <button class="btn btn-warning btn-block" ng-click="deletePlayers()" ng-if="players.length > 0">Deletar Jogadores</button>
        </li>
        <li ng-if="viewMode === 'groupMode'">
           <button class="btn btn-danger btn-block" ng-click="resetGroups()" ng-if="groups.length > 0">Zerar Grupos</button>
        </li>
        <li ng-if="viewMode === 'matchMode'">
          <button class="btn btn-default btn-block" ng-click="selectTeamsToMatch()">Selecionar Times Para Partida</button>
        </li>
      </ul>

      </div>
    </div>
    
    <div class="row" ng-if="viewMode === 'matchMode'">
      <div class="col-md-12" ng-if="match.length > 0">

        <!-- Groups -->
        <ul class="list-unstyled" ng-model="match">
          <h3>Partida</h3>
          <li  ng-class="{'result-item': true, animated: true, bounceIn: true}">
            Jogador 1: <strong ng-bind="match[0]"></strong>
          </li>
          <li  ng-class="{'result-item': true, animated: true, bounceIn: true}">
            Jogador 2: <strong ng-bind="match[1]"></strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" ng-if="viewMode === 'groupMode'">

      <!-- Groups -->
      <div class="col-md-12" ng-if="groups.length > 0">

        <!-- Groups -->
        <ul class="list-unstyled">
          <h3>Grupos</h3>
          <input type="text" ng-model="playerFilter" placeholder="Achar jogador" class="form-control">
          <li ng-repeat="group in groups | filter:playerFilter" ng-class="{'result-item': true, animated: true, bounceIn: true}">
            <!-- Nome da trainLine -->

              <h4> Grupo <span ng-bind="$index + 1"></span></h4>
              <ul>
                <li ng-repeat="player in group.players ">
                  <p ng-bind="player"></p>
                </li>
              </ul>

          </li>
        </ul>
      </div>

     
    </div>


  </section>
</article>